{% extends 'base.html' %}

{% block content %}
<div class="h-screen text-center bg-primary font-mono">
    <h1 class="font-mono mt-32 text-6xl ">ABOUT US</h1>
    
    <p class="font-mono w-1/2 ml-96 mt-16 bg-base-200 border-double border-8 border-lime-600 p-4">
    We are a family owned business located in Greenbrier, AR. We've always had a sweet tooth and that is where our inspiration comes from. 
    Our recipes come from years of baking experience. No one else provides the quality or satisfies your craving like Gemstone Bakery. 
    You won't find products like this in any grocery store. Come in and see our traditional selection as well as our unique creations. 
    We've got the sugar for you honey. We are dedicated to providing the highest quality, most delicious, mouth watering cakes, pies and other 
    baked goods that can be found anywhere in Central Arkansas. We strive to be the very best bakery in Greenbrier and the surrounding 
    areas. We love to see happy customers and our selection was created to satisfy any appetite. We have something for everyone from weddings and 
    birthdays to ball games or a get together: we provide treats for any occasion.
    </p>
    
</div>




{% endblock %}