{% extends 'base.html' %}

{% block content %}
<div class="ml-10 mr-4 grid grid-cols-4 gap-4">
    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/1-2sheet.jpg" alt="Shoes" /></figure>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/1-4sheet.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/6incake.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/8incake.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/birthday cake.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/brownies.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/carved cake.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/cheesecake.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/cookie cake.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/cookies.jfif" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/cupcakes.jfif" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/babys.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/baseball.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/bear.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/carrot.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/coconutCups.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/cookies2.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/decorated cookies2.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/dessertdisplay.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/dessertdisplay2.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/flower.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/frog.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/love.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/madalyn.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

 <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/minipies.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/moon.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>


     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/mywedding.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/myweddingdisplay.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/pie2.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/pumpkin.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/pumpkinpie.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/rug.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/wedding tasting.jfif" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/wedding2.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

     <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/wedding3.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

    <div class="bg-base-100 image-full">
        <figure><img src="../static/capstone products/yoda.jpg" alt="Shoes" /></figure>
        <div class="card-body">
        </div>
    </div>

</div>

{% endblock %}
