{% extends 'base.html' %}

{% block content %}

<form class="card w-96 bg-base-100 shadow-xl mx-auto mt-4">
  <div class="card-body">
    <h1>Name</h1>
    <input type="text" class="card-title" value="{{ r.name }}"/>
    <p>rating</p>
    <input type="number" min="1" max="5" value="{{ r.rating }}"/>
    <p>comments</p>
    <input type="text" class="card-subtitle" value="{{ r.comments}}"
    <div class="card-actions justify-end">
      <a type="submit" href="{ {url_for('update') }}" class="btn btn-primary-focus">Update</a>
      <a type="submit" href="{{ url_for('delete') }}" class="btn btn-primary-focus">Delete</a>
    </div>
  </div>
</form> 



{% endblock %}