{% extends 'base.html' %}

{% block content %}
<div class="flex ml-72 mr-60  text-center font-mono">
    <p class="mt-14 w-3/5">Please complete the order form provided below to share the details of the baked good you desire, allowing me to create a custom design tailored to your preferences.
        Your input will help me craft the perfect treat just for you!</p>
</div>

<div class="flex flex-row-reverse" >
<form method="POST" class="w-1/2 h-auto max-w-xl ml-16 mr-20 mt-10 bg-primary bg-opacity-25 pr-20 pl-10 pt-10 pb-10 font-mono text-lg">
    
      <div class="w-full ">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          First Name *
        </label>
        <input name="name" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-first-name" type="text" placeholder="First name">
      </div>

      <div class="w-full mt-4 ">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
          Email *
        </label>
        <input name="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-email" type="text" placeholder="Email">
      </div>

      <div class="w-full mt-4 ">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-phone">
          Phone Number *
        </label>
        <input name="phone" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-phone" type="text" placeholder="Phone">
      </div>

        <div class="w-full mt-4 ">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-date">
                What date would you like your order? *
            </label>
            <div class="relative ">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                  </svg>
                </div>
                <input name="date" datepicker type="text" class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
            </div>
        </div>

      <div class="flex mt-4 ">
        <div class="flex w-1/2 items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
            <input id="bordered-radio-1" type="radio" value="pickup" name="pickup_or_delivery" class=" h-4 text-blue-600 bg-gray-200 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="bordered-radio-1" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Pickup</label>
        </div>
        <div class="flex w-1/2 items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
            <input checked id="bordered-radio-2" type="radio" value="delivery" name="pickup_or_delivery" class="h-4 text-blue-600 bg-gray-200 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="bordered-radio-2" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Delivery</label>
        </div>
      </div>

      <div class="w-full mt-4 ">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
            If delivery, what is the event address?
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text">
      </div>

      <div class="w-full mt-4 ">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
          What would you like to order? *
        </label>
        
        <div class="relative">
          <select name="item" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-item" placeholder="pick one">
            <option value="wedding">Wedding Cake</option>
            <option value="tasting">Tasting Box</option>
            <option value="6cake">6" Cake</option>
            <option value="8cake">8" Cake</option>
            <option value="1/4sheet">1/4 Sheet Cake</option>
            <option value="1/2sheet">1/2 Sheet Cake</option>
            <option value="cookieCake">Cookie Cake</option>
            <option value="carved">Carved Cake</option>
            <option value="cupcakes">Cupcakes</option>
            <option value="cookies">Cookies</option>
            <option value="decCookies">Decorated Sugar Cookies</option>
            <option value="cheesecake">Cheesecake</option>
            <option value="pie">Pie</option>
            <option value="miniPie">Mini Pie</option>
            <option value="kit">Decorate your own Cookie Kit</option>
            <option value="other">Other- please put what you would like in the description box</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    
    <div class="w-full mt-4 ">
      <div class="w-full mt-4 ">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
          How many would you like to order? *
        </label>
        <input name="quantity" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text">
      </div>

      <div class="w-full mt-4 ">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
            Order Description (Please give as many details as possible) Feel free to email inspiration pictures! Please send to info@gemstonebakery.com *
        </label>
            <input name="description" class="textarea textarea-bordered w-full bg-gray-200">
        >
       </div>
    </div>

    <div class="form-control">
        <label class="label cursor-pointer">
        <span class="label-text">I agree to Gemstone's allery notice *</span> 
        <input type="checkbox" class="checkbox checkbox-primary-content bg-primary-content" />
        </label>
    </div>
    <div class="form-control">
        <label class="label cursor-pointer">
        <span class="label-text">I agree to Gemstone's <a>customer responsibility notice *</a></span> 
        <input type="checkbox" class="checkbox checkbox-primary-content bg-primary-content" />
        </label>
    </div>

    <button class="btn btn-block bg-primary-content mt-4">
        Send
    </button> 
</form>


<div class="w-1/2 h-60 ml-20 position-relative justify-center">

    <div class="card-body w-1/6">
        <h3></h3>
        <p></p>
    </div>

    <div class="card-body w-1/6">
        <i class="card-title fa-solid fa-location-dot" style="color: #000000;"></i>
        <h3>Address</h3>
        <p>Greenbrier, AR</p>
    </div>

    <div class="card-body w-1/6">
        <h3></h3>
        <p></p>
    </div>
    
    <div class="card-body w-1/6">
        <i class="card-title fa-solid fa-phone"></i>
        <h3>Phone</h3>
        <p>(501) 733-2590</p>
    </div>

    <div class="card-body w-1/6">
        <h3></h3>
        <p></p>
    </div>

    <div class="card-body w-1/6">
    <i class="card-title fa-regular fa-envelope" style="color: #000000;"></i>
        <h3>Email</h3>
        <p>info@gemstonebakery.com</p>
    </div>

</div>
</div>
{% endblock %}